.flash {
  display: flex;
  inset-block-start: var(--block-space);
  inset-inline-start: 50%;
  justify-content: center;
  position: fixed;
  transform: translate(-50%);
  z-index: 6;
}

.flash__inner {
  animation: appear-then-fade 3s 300ms both;
  aspect-ratio: 1;
  background-color: var(--flash-background, var(--color-positive));
  border-radius: 50%;
  display: grid;
  padding: var(--block-space);
  place-items: center;

  img {
    grid-area: 1/1;
  }
}
